<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Create New Challan">
            <div class="row">
                <div class="col-12 mt-3">
                    @if (showSuccessMessage) {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ successMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    }

                    @if (isDuplicateChallan) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Challan Number should be unique
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    }

                </div>
            </div>

            <form #form="ngForm" class="row g-3 needs-validation" novalidate>
                <div class="col-md-3">
                    <label for="challanDate" class="form-label fw-bold">Challan Date <span
                            class="text-danger">*</span></label>
                    <div class="input-group">
                        <input matInput [matDatepicker]="picker" id="challanDate" [(ngModel)]="challanDate"
                            name="challanDate" class="form-control height-39" #challanDateModel="ngModel" />
                        <span class="input-group-text height-39" style="cursor: pointer;">
                            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                        </span>
                    </div>
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="text-danger">
                        @if(challanDateModel.errors?.['required'] && challanDateModel.touched &&
                        challanDateModel.dirty) {
                        <span>This field is mendatory</span>
                        }
                    </div>
                </div>

                <!-- Challan Type -->
                <div class="col-md-3">
                    <label class="form-label fw-bold d-block">Challan Type <span
                            class="text-danger">*</span></label>
                    <div class="d-flex gap-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="challanType" id="challantypeIssue"
                                [disabled]="action == 'view'" [(ngModel)]="contractorChallanObj.challanType"
                                [value]="'I'" />
                            <label class="form-check-label" for="challantypeIssue">
                                Issue
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="challanType" id="challantypeReceive"
                                [disabled]="action == 'view'" [(ngModel)]="contractorChallanObj.challanType"
                                [value]="'R'" />
                            <label class="form-check-label" for="challantypeReceive">
                                Receive
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Contractor -->
                <div class="col-md-3">
                    <div class="dropdown">
                        <label for="contractor" class="form-label fw-bold">Contractor <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" [(ngModel)]="contractorChallanObj.party"
                            #contractor="ngModel" list="constructors" name="contractor" id="contractor"
                            placeholder="Type to search..." required>
                        <datalist id="constructors">
                            @for (party of constructors; track party.id) {
                            <option [value]="party.contractorName"></option>
                            }
                        </datalist>
                        <div class="text-danger">
                            @if(contractor.errors?.['required'] && contractor.touched && contractor.dirty) {
                            <span>This field is mendatory</span>
                            }
                        </div>
                    </div>

                    <!-- Challan Number -->
                </div>
                <div class="col-md-3">
                    <label for="challanNumber" class="form-label fw-bold">Challan Number <span
                            class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" name="challanNumber" [readOnly]="action=='view'"
                        maxlength="8" [(ngModel)]="contractorChallanObj.challanNumber" id="challanNumber"
                        #challanNumber="ngModel" (keyup)="onChallanNumberChange()" required>
                    <div class="text-danger">
                        @if(challanNumber.errors?.['required'] && challanNumber.touched && challanNumber.dirty) {
                        <span>This field is mendatory</span>
                        }
                    </div>
                </div>

                <!-- Design -->
                <div class="col-md-3">
                    <label for="design" class="form-label fw-bold">Desing</label>
                    <select class="form-select" name="design" (blur)="onInputBlur()" [disabled]="action=='view'"
                        [(ngModel)]="contractorChallanObj.design" id="design">
                        @for (design of designs; track design.id) {
                        <option [value]="design.id">{{ design.designName }}</option>
                        }

                    </select>
                </div>

                <!-- Color -->

                <div class="col-md-3">
                    <label for="color" class="form-label fw-bold">Color</label>
                    <select class="form-select" name="color" (blur)="onInputBlur()" [disabled]="action=='view'"
                        [(ngModel)]="contractorChallanObj.color" id="color">
                        @for (color of colors; track color.id) {
                        <option [value]="color.id">{{ color.colorName }}</option>
                        }

                    </select>
                </div>

                <!-- Quantity -->
                <div class="col-md-2">
                    <label for="quantity" class="form-label fw-bold">Quantity</label>
                    <input type="text" (keypress)="utilsService.numberOnly($event)" (keyup)="onInputBlur()"
                        class="form-control" name="quantity" [readOnly]="action=='view'"
                        [(ngModel)]="contractorChallanObj.quantity" id="quantity">
                </div>

                <!-- Add Button -->
                <div class="col-1 margin-top-48">
                    <button class="btn btn-primary align-left" [disabled]="disableAdd" type="submit"
                        (click)="addItems()">Add</button>
                </div>
                @if (isItemExist) {
                <div class="col-12">
                    <span class="text-danger">Design and Color already added</span>
                </div>
                }

                <div class="margin-top-30">
                    <div class="col-12">
                        <ag-grid-angular class="ag-theme-quartz" style="height: 340px;" [rowData]="items"
                            [columnDefs]="colDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
                            [getRowId]="getRowId" (cellValueChanged)="onCellValueChanged()" />
                    </div>
                </div>

                <!-- Cancel Button -->
                <div class="col-10">

                </div>
                <div class="col-2 align-right">
                    <button [disabled]="form.invalid || items.length <= 0 || isDuplicateChallan" class="btn btn-primary"
                        type="submit" (click)="onSave()">Submit</button>
                    <!-- <button class="btn btn-primary margin-left-10" type="submit" (click)="cancel()">Cancel</button> -->
                </div>
            </form>
        </app-card>
    </div>
</div>
