<div>
  <ul class="list-unstyled">
    <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
      <a href="javascript:" class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
        <span class="f-w-600">{{userInfo.name}}</span>
      </a>
      <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
        <div class="dropdown-header">
          <div class="d-flex mb-1">
            <div class="flex-shrink-0">
              <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar wid-35" />
            </div>
            <div class="flex-grow-1 ms-3 text-start">
              <h6 class="mb-0">User Name</h6>
              <span>{{userInfo.name}}</span>
            </div>
            <a href="javascript:" class="bg-transparent" (click)="logout()"><i class="d-flex f-20" antIcon
                theme="outline" type="logout"></i></a>
          </div>
        </div>
        <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
          <li ngbNavItem="1">
            <a ngbNavLink>
              <i antIcon theme="outline" type="user" class="me-2"></i>
              Profile
            </a>
            <ng-template ngbNavContent>
              <div class="margin-left-10">
                <b> Name</b> - {{userInfo['name']}}
              </div>
              <div class="margin-left-10">
                <b> Email</b> - {{userInfo['email']}}
              </div>
              <div class="margin-left-10">
                <b> Mobile </b> - {{userInfo['mobile']}}
              </div>
            </ng-template>
          </li>
          <li ngbNavItem="2">
            <a ngbNavLink>
              <i class="me-2" antIcon theme="outline" type="setting"></i>
              Setting
            </a>
            <ng-template ngbNavContent>
              @for (task of settingoptions; track task) {
              <div>
                <a [routerLink]="'/changePassword'" class="dropdown-item">
                  <i class="text-muted" antIcon theme="outline" type="{{ task.icon }}"></i>
                  <span>{{ task.title }}</span>
                </a>
              </div>
              }
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </li>



  </ul>
</div>

<!-- Modal
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content  model-width-800">
      <div class="modal-header">
        <h2 class="modal-title" style="margin-top: 0px; margin-bottom: 0px;" id="exampleModalLabel">Order
          Items</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Model body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->