<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="New Challan (Party)">
            <div class="row">
                <div class="col-12">
                    @if (showSuccessMessage) {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ successMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    }
                    @if (isDuplicateChallan) {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Challan Number should be unique
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    }
                </div>
            </div>

            <form #form="ngForm" class="row g-3 needs-validation" novalidate>
                <!-- Challan Date -->

                <div class="col-md-2">
                    <label for="challanDate" class="form-label fw-bold">Challan Date <span
                            class="text-danger">*</span></label>
                    <div class="input-group">
                        <input matInput [matDatepicker]="picker" id="challanDate" name="challanDate"
                            class="form-control height-39" [(ngModel)]="challanDate" required
                            #challanDateModel="ngModel" />
                        <span class="input-group-text  height-39" style="cursor: pointer;">
                            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                        </span>
                    </div>
                    <mat-datepicker #picker></mat-datepicker>
                    <div class="text-danger"
                        *ngIf="challanDateModel.invalid && (challanDateModel.dirty || challanDateModel.touched)">
                        <span *ngIf="challanDateModel.errors?.['required']">This field is required.</span>
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="challantype" class="form-label fw-bold">Challan Type</label>
                    <select id="challantype" class="form-select" name="challantype"
                        [(ngModel)]="clientChallanObj.challanType">

                        <option value="I">Issue</option>
                        <option value="R">Receive</option>
                    </select>
                    <div class="invalid-feedback">Please select a challan type.</div>
                </div>

                <div class="col-md-4">
                    <label for="selectedClient" class="form-label fw-bold">Party<span
                            class="text-danger">*</span></label>
                    <div class="input-group has-validation">
                        <select class="form-select" name="party" [(ngModel)]="selectedClient" name="selectedClient"
                            (change)="selectedParty($any($event.target).value)" #party="ngModel" required>
                            <option value="">Select Options</option>
                            @for (party of clients; track party.id) {
                            <option [value]="party.id">{{ party.clientName }}</option>
                            }
                        </select>
                        <div class="invalid-feedback">
                            Please Select Party.
                        </div>
                    </div>
                    <div class="text-danger">
                        @if(party.errors?.['required'] && party.touched && party.dirty) {
                        <span>This field is mendatory</span>
                        }
                    </div>
                </div>


                <!-- Challan Number -->
                <div class="col-md-2">
                    <label for="challanNumber" class="form-label fw-bold">Challan Number <span
                            class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="challanNumber" name="challanNumber" maxlength="8"
                        (keyup)="onChallanNumberChange()" [(ngModel)]="clientChallanObj.challanNumber"
                        #challanNumber="ngModel" required />

                    <div class="text-danger">
                        @if(challanNumber.errors?.['required'] && challanNumber.touched && challanNumber.dirty) {
                        <span>This field is mendatory</span>
                        }
                    </div>
                </div>

                <!-- Order Number -->
                <div class="col-md-2">
                    <label for="orderNumber" class="form-label fw-bold">Order Number </label>
                    <select class="form-select" name="orderNumber" [(ngModel)]="clientChallanObj.orderNumber"
                        id="orderNumber">
                        <option value="0">Select Options</option>
                        @for (order of orders; track order.id) {
                        <option [value]="order.id">{{ order.orderNumber }}</option>
                        }
                    </select>
                </div>

                <!-- Quality -->
                <div class="col-md-3">
                    <label for="quality" class="form-label fw-bold">Quality</label>
                    <select class="form-select" name="color" [(ngModel)]="clientChallanObj.quality" id="quality"
                        (blur)="onInputBlur()">
                        <option value="0">Select Options</option>
                        @for (quality of qualityList; track quality.id) {
                        <option [value]="quality.id">{{ quality.qualityName }}</option>
                        }

                    </select>
                </div>

                <!-- Design -->
                <div class="col-md-3">
                    <label for="design" class="form-label fw-bold">Design</label>
                    <select id="design" class="form-select" name="design" [(ngModel)]="clientChallanObj.design"
                        [disabled]="action === 'view'" (blur)="onInputBlur()">
                        <option value="0">Select Options</option>
                        @for (design of designs; track $index) {
                        <option [value]="design.id">{{ design.designName }}</option>
                        }

                    </select>
                    <div class="invalid-feedback">Please select a design.</div>
                </div>

                <!-- Color -->
                <div class="col-md-3">
                    <label for="color" class="form-label fw-bold">Color</label>
                    <select id="color" class="form-select" name="color" [(ngModel)]="clientChallanObj.color"
                        [disabled]="action === 'view'" (blur)="onInputBlur()">
                        <option value="0">Select Options</option>
                        @for (color of colors; track $index) {
                        <option [value]="color.id">{{ color.colorName }}</option>
                        }
                    </select>
                    <div class="invalid-feedback">Please select a color.</div>
                </div>

                <!-- Quantity -->
                <div class="col-md-1">
                    <label for="quantity" class="form-label fw-bold">Quantity</label>
                    <input id="quantity" type="text" class="form-control" name="quantity"
                        [(ngModel)]="clientChallanObj.quantity" [readonly]="action === 'view'"
                        (keypress)="utilsService.numberOnly($event)" (keyup)="onInputBlur()" />
                    <div class="invalid-feedback">Please enter quantity.</div>
                </div>

                <!-- Rate -->
                <div class="col-md-1">
                    <label for="rate" class="form-label fw-bold">Rate</label>
                    <input type="text" (keypress)="utilsService.numberOnly($event)" (keyup)="onInputBlur()"
                        class="form-control" name="rate" [(ngModel)]="clientChallanObj.rate" id="rate">
                </div>
                <!-- Add Button -->
                <div class="col-md-1 margin-top-48 align-right">
                    <button type="button" class="btn btn-primary" [disabled]="disableAdd"
                        (click)="addItems()">Add</button>
                </div>
                @if (isItemExist) {
                <div class="col-12">
                    <span class="text-danger">Quality, Design and Color already added</span>
                </div>
                }

                <!-- Data Grid -->
                <div class="mt-4">
                    <div class="col-12">
                        <ag-grid-angular class="ag-theme-quartz" style="height: 340px;" [rowData]="items"
                            [columnDefs]="colDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
                            [getRowId]="getRowId" (cellValueChanged)="onCellValueChanged()"></ag-grid-angular>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="col-12 text-end mt-4">
                    <button type="button" class="btn btn-primary"
                        [disabled]="form.invalid || items.length <= 0 || isDuplicateChallan" (click)="onSave()">
                        Save
                    </button>
                    <!-- <button type="button" class="btn btn-primary ms-2" (click)="cancel()">Cancel</button> -->
                </div>
            </form>
        </app-card>
    </div>
</div>