<h5 class="mb-3">Party Challans Summary (Last 07 Days)</h5>
<div class="card">
  <div class="card-body">
    <div id="chart">
      <apx-chart [series]="partyChartOptions.series" [chart]="partyChartOptions.chart"
        [dataLabels]="partyChartOptions.dataLabels" [legend]="partyChartOptions.legend"
        [xaxis]="partyChartOptions.xaxis" [colors]="partyChartOptions.colors" [stroke]="partyChartOptions.stroke"
        [grid]="partyChartOptions.grid" [plotOptions]="partyChartOptions.plotOptions"
        [tooltip]="partyChartOptions.tooltip"></apx-chart>
    </div>
  </div>
</div>


<h5 class="mb-3">Contracter Challans Summary (Last 07 Days)</h5>
<div class="card">
  <div class="card-body">
    <div id="chart">
      <apx-chart [series]="contractorChartOptions.series" [chart]="contractorChartOptions.chart"
        [dataLabels]="contractorChartOptions.dataLabels" [legend]="contractorChartOptions.legend"
        [xaxis]="contractorChartOptions.xaxis" [colors]="contractorChartOptions.colors"
        [stroke]="contractorChartOptions.stroke" [grid]="contractorChartOptions.grid"
        [plotOptions]="contractorChartOptions.plotOptions" [tooltip]="contractorChartOptions.tooltip"></apx-chart>
    </div>
  </div>
</div>