<div class="col-sm-12">
    <app-card cardTitle="Stock Register">

        <form #form="ngForm" class="row g-3 needs-validation" novalidate>

            <!-- Quality -->
            <!-- <div class="col-md-2">
                <label for="design" class="form-label fw-bold">Quality</label>
                <select id="quality" class="form-select" name="quality" [(ngModel)]="filterObj.quality"> -->
            <!-- @for (quality of qualityList; track quality.id) {
                    <option [value]="quality.id">{{ quality.qualityName }}</option>
                    } -->
            <!-- <option value="">Any</option>
                    <option *ngFor="let quality of qualityList" [value]="quality.qualityName">{{ quality.qualityName }}</option>

                </select>
                <div class="invalid-feedback">Please select quality.</div>

            </div> -->

            <!-- Quality -->
            <div class="col-md-3">
                <label for="quality" class="form-label fw-bold">Quality</label>
                <select id="quality" class="form-select" name="quality" [(ngModel)]="filterObj.qualityName">
                    <option value="">Any</option>
                    <option *ngFor="let quality of qualityList" [value]="quality.qualityName">{{ quality.qualityName }}
                    </option>
                </select>
                <div class="invalid-feedback">Please select quality.</div>
            </div>


            <!-- Design -->
            <div class="col-md-3">
                <label for="design" class="form-label fw-bold">Design</label>
                <select id="design" class="form-select" name="design" [(ngModel)]="filterObj.designName">
                    <option value="">Any</option>
                    <option *ngFor="let design of designs" [value]="design.designName">{{ design.designName }}</option>
                </select>
                <div class="invalid-feedback">Please select a design.</div>
            </div>

            <!-- Color -->
            <div class="col-md-3">
                <label for="color" class="form-label fw-bold">Color</label>
                <select id="color" class="form-select" name="color" [(ngModel)]="filterObj.colorName">
                    <option value="">Any</option>
                    <option *ngFor="let color of colors" [value]="color.colorName">{{ color.colorName }}</option>
                </select>
                <div class="invalid-feedback">Please select a color.</div>
            </div>


            <div class="col-1 align-right">
                <button class="margin-top-30 btn btn-primary" name="search" id="search" (click)="searchStock()">
                    Search </button>
            </div>
        </form>

        <div class="row  margin-top-30">
            <div class="col-2 div-margin-top align-left font-bold">Record Count : {{totalRecord}}</div>
            <div class="col-8"></div>
            <div class="col-2 align-right">
                <i class="bi bi-filetype-csv font-size-30" (click)="onBtnExport()"></i>
                <i class="bi bi-filetype-xls font-size-30" (click)="onBtnExportExcel()"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ag-grid-angular class="ag-theme-quartz grid-height" [rowData]="stockRegister" [columnDefs]="colDefs"
                    [defaultColDef]="defaultColDef" [pagination]="true" [paginationPageSize]="10"
                    [paginationPageSizeSelector]="[10, 20, 50, 100]" />
            </div>
        </div>
    </app-card>

</div>