<div class="row">
  @for (analytic of monthlyChallanCountData; track analytic) {
  <div class="col-md-6 col-xl-3">
    <app-card [showHeader]="false" blockClass="dashboard-card">
      <h6 class="mb-2 f-w-400 text-muted">{{ analytic.title }}</h6>
      <h4 class="mb-3">{{ analytic.challancount }}</h4>
    </app-card>
  </div>
  }
  @for (analytic of yesterdayChallanCountData; track analytic) {
  <div class="col-md-6 col-xl-3">
    <app-card [showHeader]="false" blockClass="dashboard-card">
      <h6 class="mb-2 f-w-400 text-muted">{{ analytic.title }}</h6>
      <h4 class="mb-3">
        {{ analytic.challancount }}
      </h4>
    </app-card>
  </div>
  }
  <div class="col-md-12 col-xl-12">
    <app-sales-report-chart />
  </div>

  <div class="col-md-12">
    <h5 class="mb-3">Todays Contracter Issued Challans</h5>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>CHALLAN DATE</th>
              <th>CHALLAN NO.</th>
              <th>PARTY</th>
              <th>GST NO.</th>
              <th>QUANTITY</th>
            </tr>
          </thead>
          <tbody>
            @for (challan of contractorChallanIssuedInfoList; track challan) {
            <tr>
              <td>{{ challan.challanDate }}</td>
              <td>{{ challan.challanNumber }}</td>
              <td>{{ challan.contractor.contractorName }}</td>
              <td>{{ challan.contractor.gstNo }}</td>
              <td>{{ challan.quantity }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h5 class="mb-3">Todays Contracter Recieved Challans</h5>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>CHALLAN DATE</th>
              <th>CHALLAN NO.</th>
              <th>PARTY</th>
              <th>GST NO.</th>
              <th>QUANTITY</th>
            </tr>
          </thead>
          <tbody>
            @for (challan of contractorChallanRecievedInfoList; track challan) {
            <tr>
              <td>{{ challan.challanDate }}</td>
              <td>{{ challan.challanNumber }}</td>
              <td>{{ challan.contractor.contractorName }}</td>
              <td>{{ challan.contractor.gstNo }}</td>
              <td>{{ challan.quantity }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h5 class="mb-3">Todays Party Issued Challans</h5>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>CHALLAN DATE</th>
              <th>CHALLAN NO.</th>
              <th>PARTY</th>
              <th>GST NO.</th>
              <th>QUANTITY</th>
            </tr>
          </thead>
          <tbody>
            @for (challan of clientChallanInfoIssueList; track challan) {
            <tr>
              <td>{{ challan.challanDate }}</td>
              <td>{{ challan.challanNumber }}</td>
              <td>{{ challan.client.clientName }}</td>
              <td>{{ challan.client.gstNo }}</td>
              <td>{{ challan.quantity }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>