<div class="col-sm-12">
    <app-card cardTitle="Order Register">
        <form #form="ngForm" class="row g-3 needs-validation" novalidate>
            <div class="col-md-3">
                <label for="orderNumber" class="form-label fw-bold">Order Number</label>
                <input type="text" class="form-control" maxlength="8" name="orderNumber"
                    [(ngModel)]="filterObj.ordernumber" id="orderNumber">
            </div>

            <div class="col-md-3">
                <label for="party" class="form-label fw-bold">Client</label>
                <div class="input-group has-validation">
                    <select class="form-select" name="party" [(ngModel)]="filterObj.clientName" name="party">
                        <option value="">Select Options</option>
                        @for (party of dropdownData; track party.id) {
                        <option [value]="party.id">{{ party.clientName }}</option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Please Select Party.
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <label for="fromDate" class="form-label fw-bold">From Date</label>
                <div class="input-group">
                    <input matInput [matDatepicker]="picker1" id="fromDate" [(ngModel)]="fromDate" name="fromDate"
                        class="form-control height-39" #orderDate="ngModel" />
                    <span class="input-group-text height-39" style="cursor: pointer;">
                        <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                    </span>
                </div>
                <mat-datepicker #picker1></mat-datepicker>
                <div class="text-danger">
                    @if(orderDate.errors?.['required'] && orderDate.touched && orderDate.dirty) {
                    <span>This field is mendatory</span>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <label for="toDate" class="form-label fw-bold">To Date</label>
                <div class="input-group">
                    <input matInput [matDatepicker]="picker" id="toDate" [(ngModel)]="toDate" name="toDate"
                        class="form-control height-39" #orderDate="ngModel" />
                    <span class="input-group-text height-39" style="cursor: pointer;">
                        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                    </span>
                </div>
                <mat-datepicker #picker></mat-datepicker>
                <div class="text-danger">
                    @if(orderDate.errors?.['required'] && orderDate.touched && orderDate.dirty) {
                    <span>This field is mendatory</span>
                    }
                </div>
            </div>
            <!-- Quality -->
            <div class="col-md-3">
                <label for="design" class="form-label fw-bold">Quality</label>
                <select id="quality" class="form-select" name="quality" [(ngModel)]="filterObj.qualityId">
                    @for (quality of qualityList; track quality.id) {
                    <option [value]="quality.id">{{ quality.qualityName }}</option>
                    }

                </select>
                <div class="invalid-feedback">Please select a design.</div>
            </div>

            <!-- Design -->
            <div class="col-md-3">
                <label for="design" class="form-label fw-bold">Design</label>
                <select id="design" class="form-select" name="design" [(ngModel)]="filterObj.designId">
                    @for (design of designs; track $index) {
                    <option [value]="design.id">{{ design.designName }}</option>
                    }

                </select>
                <div class="invalid-feedback">Please select a design.</div>
            </div>

            <!-- Color -->
            <div class="col-md-3">
                <label for="color" class="form-label fw-bold">Color</label>
                <select id="color" class="form-select" name="color" [(ngModel)]="filterObj.colorId">
                    @for (color of colors; track $index) {
                    <option [value]="color.id">{{ color.colorName }}</option>
                    }
                </select>
                <div class="invalid-feedback">Please select a color.</div>
            </div>
            <div class="col-md-3 align-right">
                <button class="margin-top-30 btn btn-primary" name="search" (click)="searchClientOrder()" id="search">
                    Search
                </button>
            </div>
        </form>
        <div class="row margin-top-30">
            <div class="col-2 div-margin-top align-left font-bold">Record Count : {{totalRecord}}</div>
            <div class="col-8"></div>
            <div class="col-2 align-right">
                <i class="bi bi-filetype-csv font-size-30" (click)="onBtnExport()"></i>
                <i class="bi bi-filetype-xls font-size-30" (click)="onBtnExportExcel()"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ag-grid-angular class="ag-theme-quartz" style="height: 500px;" [rowData]="clientOrders"
                    [columnDefs]="colDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
                    [pagination]="true" [paginationPageSize]="10" [paginationPageSizeSelector]="[10, 20, 50]" />
            </div>
        </div>
    </app-card>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content  model-width-800">
            <div class="modal-header">
                <h2 class="modal-title" style="margin-top: 0px; margin-bottom: 0px;" id="exampleModalLabel">Order
                    Items</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ag-grid-angular class="ag-theme-quartz" style="height: 300px;" [rowData]="itemDetails"
                    [columnDefs]="itemDetailsColDefs" [defaultColDef]="defaultColDef"
                    (gridReady)="onGridReady($event)" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete Order</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Do you want to delete order?
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deleteOrders()"
                    data-bs-dismiss="modal">Yes</button>
            </div>

        </div>
    </div>
</div>